@model IEnumerable<ScavengeRUs.Models.Entities.Location>

@{
    ViewData["Title"] = "Questions";
}

<script>
    function getLocation() {
        var elem = document.getElementById('geolocation');
        elem.innerHTML = 'text here';
    }

    setTimeout(getLocation,0);
</script>

<h1>Where am I?</h1>

<p id="geolocation">Unknown</p>

<h1>Hunt</h1>

@foreach(var item in Model)
{
    <br />
    <h4>
        @Html.DisplayFor(modelItem => item.Place)
    </h4>
    <p>
        @Html.DisplayFor(modelItem => item.Task)
    </p>
}
