@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ScavengeRUS</h1>
    <p>Register below to be given a URL and an access code to access a scavenger hunt. At each scavenger hunt location, there will be a QR Code that must be scanned to obtain a longitude and latitude point. Hunt progress will be tracked through tasks. Enjoy hunting! </p>
</div>
<div class="row justify-content-center">
    <a asp-area="Identity" asp-page="/Account/Register" class="w-50 btn btn-lg btn-primary">Player sign up</a>
</div>
<img class="aerial_campus" src="/Images/campus.jpg" alt="ETSU" />

