@model ScavengeRUs.Models.Entities.AccessCode
@{
    ViewData["Title"] = "Buc Hunt";
}
<div class="row justify-content-center">
    <div class="col-4">
        <section>
            <form asp-action="LogIn">
                <h1 style="text-align:center">@ViewData["Title"]</h1>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h3 style ="text-align:center">Enter your access code.</h3>
                <div class="form-floating">
                    <input asp-for="Code" required class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Code" class="form-label"></label>
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>

            </form>
        </section>
    </div>
</div>

