@model IEnumerable<ScavengeRUs.Models.Entities.ApplicationUser>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Profile";
}
<h1>Player Profile</h1>
<p>Placeholder for profile picture</p>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
    </dl>
</div>